* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    
    --s: 140px; /* control the size */
    --c1: #AB3E5B;
    --c2: #FFBE40;
    
    --_g: 
      #0000 25%,#0008 47%,var(--c1)  53% 147%,var(--c2) 153% 247%,
      var(--c1) 253% 347%,var(--c2) 353% 447%,var(--c1) 453% 547%,#0008 553%,#0000 575%;
    --_s: calc(25%/3) calc(25%/4) at 50%; 
    background:
      radial-gradient(var(--_s) 100%,var(--_g)),
      radial-gradient(var(--_s) 100%,var(--_g)) calc(var(--s)/2) calc(3*var(--s)/4),
      radial-gradient(var(--_s) 0   ,var(--_g)) calc(var(--s)/2) 0,
      radial-gradient(var(--_s) 0   ,var(--_g)) 0                calc(3*var(--s)/4),
      repeating-linear-gradient(90deg,#ACCEC0 calc(25%/-6) calc(25%/6),#61A6AB 0 calc(25%/2));
    background-size: var(--s) calc(3*var(--s)/2)

}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.c-player {
    font-size: 16px;
  width: 80vw;
  max-width: 25em;
  background-color: #60A5AA;
  padding: 3em 1.8em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.5em;
  box-shadow: 0.6em 1.2em 3em rgba(0, 0, 0, 0.25);
}

.c-player > h4 {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.c-player > p {
    color: #9b5e05;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.c-player > p span {
    font-weight: 400;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.c-player--details .details-img img {
    display: block;
    margin: 50px auto;
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px #ACCEC0, -6px -6px 12px #AB3E5B;;
}

.c-player--details .details-img:after {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    border-radius: 50%;
    
}

.c-player--details .details-title {
    color: #EEE;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details-artist {
    color: #AB3E5B;
    font-size: 1.5rem;
    
    text-align: center;
    margin-bottom: 20px;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #FFBE40;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFBE40;
    font-size: 18px;
}